.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
.emacs.d/cider-history
.emacs.d/backups/
.emacs.d/auto-save-list/
.emacs.d/.smex-items
.emacs.d/.recentf
*.swp
.emacs.d/elpa/archives/*
.emacs.d/eshell/
.emacs.d/bookmarks
.emacs.d/places
.emacs.d/elpa
.emacs.d/network-security.data
