ido.last
projectile-bookmarks.eld
cider-history
backups/
auto-save-list/
.smex-items
.recentf
*.swp
elpa/archives/*
eshell/
bookmarks
places
elpa
network-security.data
ac-comphist.dat
.mc-lists.el
.recentf~
ido.last~
url/cookies
.DS_Store
tramp
